
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">PoopSite</a>
      <ul class="right hide-on-med-and-down" id="nav-mobile">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
 